body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  
}

p {
    margin-top: 0;
}

.container {
    display: grid;
    grid-template-columns: 200px 200px 700px;
    grid-template-rows: auto auto auto auto auto auto auto;
    gap: 15px;
    margin-left: 50px;
}

.intro {
    grid-column-start: 1;
    grid-column-end: 4;
}

.desc1{
    grid-column-start: 1;
    grid-row-start: 3;
}

.desc2 {
    grid-row-start: 4;
}

.xp1 {
    width: 500px;
    grid-column-start: 2;
    grid-column-end: 4;
}

.xp2 {
    width: 500px;
    grid-column-start: 2;
    grid-column-end: 4;
}
.edu1 {
    width: 500px;
    grid-row-start: 6;
    grid-column-start: 3;
}

.edu2 {
    width: 500px;
    grid-row-start: 7;
    grid-column-start: 3;
}
.ap {
    font-size: 40px;
    margin: 0;
}

.tittle1 {
    border-bottom: 3px solid yellow;
    text-align: center;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

/* parte dois */

.tittle2 {
    border-bottom: 3px solid green;
    margin-top: 50px;
    text-align: center;
    grid-row-start: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

.desc3 {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: 3;
}

.desc4 {
    grid-row-start: 7;
}
